{% for server in chrony_ntp_servers %}
server {{ server }} iburst
{% endfor %}
makestep 10 3
maxupdateskew 100.0
driftfile /var/lib/chrony/chrony.drift
keyfile {{ chrony_path }}/chrony.keys
logchange 0.5
rtconutc
acquisitionport 123
{% if chrony_rtcsync %}
rtcsync
{% endif %}
{% if chrony_allow_enable %}
{% for network in chrony_allow %}
allow {{ network }}
{% endfor %}
{% endif %}
{% if chrony_smearing %}
leapsecmode slew
maxslewrate 1000
smoothtime 400 0.001024 leaponly
{% endif %}
{% if chrony_log_enable %}
log {{ chrony_log }}
logdir {{ chrony_logdir }}
{% endif %}
