{% for server in chrony_ntp_servers %}
server {{ server }} iburst maxsources 4
{% endfor %}
makestep 10 3
maxupdateskew 100.0
driftfile /var/lib/chrony/chrony.drift
keyfile {{ chrony_path }}/chrony.keys
logchange 0.5
rtconutc
acquisitionport 123
{% if chrony_rtcsync is true %}
rtcsync
{% endif %}
{% if chrony_allow_enable is true %}
{% for network in chrony_allow %}
allow {{ network }}
{% endfor %}
{% endif %}
